nav.toolbox {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    border: 2px var(--primary) solid;
    height: 9rem;
    width: 3rem;
    overflow: hidden;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .15);
}

.toolbox-item button {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}

.toolbox-item button:hover {
    color: var(--text-100);
    background-color: var(--primary);
}

.toolbox-item svg {
    height: 1.5rem;
    width: 1.5rem;
}

.tier-parent {
    padding: 3rem 8rem;
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(100% - 16rem);
}

.plant-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.plant-item {
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;
    transition: border .25s ease-in-out;
    border: .2rem dashed transparent;
}

.tier-parent .plant-item:first-child {
    position: absolute;
    top: 0;
    left: 0;
}

.tier-parent .plant-item:last-child {
    position: absolute;
    top: 0;
    right: 0;
}

.plant-item:hover {
    border: .2rem dashed var(--accent);
}

.plant-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.plant-avatar {
    height: 4rem;
    width: 4rem;
    border: .2rem solid var(--accent);
    color: var(--accent);
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.plant-avatar svg {
    height: 2.5rem;
    width: 2.5rem;
}